header {
    height: 80px;
}

.borders {
    border: 1px dashed black;
}

#jumbotron {
    height: 500px;
    background-color: aquamarine;
}

#portfolio {
    min-height: 500px;
    background-color: gray;
}

#about {
    min-height: 500px;
    background-color: aquamarine;
}

#contact {
    min-height: 500px;
    background-color: gray;
}