header {
    height: 70px;
}

#jumbotron {
    min-height: 500px;
    background-color: #1ABC9C;
}

#portfolio {
    margin-top: 3rem;
}

#about {
    min-height: 500px;
    background-color: #1ABC9C;
    margin-top: 3rem;
}

#contact {
    min-height: 500px;
}

footer {
    min-height: 500px;
    background-color: plum;
}

.bg-dark-header {
    background-color: #2C3E50;
}

img {
    width: 100%;
    display: block;
}

.img-jumbotron {
    max-width: 250px;
    margin: 0 auto;
}

.bars-height {
    height: 5px;
}

.bars-width {
    width: 250px;
}